.show {
  overflow: hidden;
  padding: 0 20% .3em 0;
}
.show img {
  width: 100%;
  height: auto;
  border: 1px solid #444;
}
.show figure {
  float: left;
  width: 10%;
  margin: 0 .3em 0 0;
}
.show header {
  float: left;
}
.show .desc {
  clear: both;
}

.landing ul,
.landing li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detail .show figure {
  float: right;
  width: 20%;
}
.detail .show .desc {
  clear: left;
}
